* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}

canvas{
  height: 80dvh;
  width: 90dvw;  
  background-color: black;
}