* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Barriecito';
  src: url('assets/font/Barriecito-Regular.ttf') format('truetype');
}

body{
  align-items: center;
  min-height: 100dvh;
  gap: 40px;
  background-image: url('assets/img/5_background/dessert.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Barriecito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  margin: 0 auto;
  padding: 24px 0;
  height: 100dvh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

canvas {
  height: 60dvh;
  width: 60dvw;  
  background-color: black;
  display: block;
}

/* Utility Classes */
.d_none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  pointer-events: none !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 24px;
  background-color: #f5ac2f;
  padding: 16px;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FFDF00;
}

#menu {
  height: 60dvh;
  width: 60dvw;
}

#menu img {
  width: 60dvw;
  height: 60dvh;
}

.settings_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings_container img {
  width: 32px;
  height: 32px;
}

.keyboard_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 75dvh;
  width: 75dvw;
  color: white;
  /* background-image: url('assets/img/5_background/layers/air.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgba(0, 0, 0, 1);
  z-index: 5;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  gap: 80px;
}

.keyboard_info.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

.instructions_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 0 64px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.instruction_key {
  display: flex;
  align-items: center;
  gap: 16px;
}

.instructions img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

#youWin, 
#youLost {
  position: relative;
  height: 60dvh;
  width: 60dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#youWin img,
#youLost img {
  width: 60dvw;
  height: 60dvh;
  object-fit: contain;
}

.endgame_btns {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.restart_btn,
.go_back_to_menu {
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 24px;
  background-color: #f5ac2f;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.rotate_phone {
  height: 100dvh;
  width: 100dvh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 999;
}

.rotate_phone img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.mobile_btn_container {
  padding: 0 32px;
  width: 100%;
  position: absolute;
  display: none;
  bottom: 5%;
  align-items: center;
  justify-content: space-between;
}

.mobile_btn_container img {
  opacity: 0.6;
  height: 64px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 24px;
}

.mobile_btn_container img:hover {
  opacity: 1;
}

.mobile_btn_left,
.mobile_btn_right {
  display: flex;
  gap: 24px;
}

#fullscreen:-webkit-full-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullscreen:fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullscreen:fullscreen canvas {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .mobile_btn_container {
    display: flex;
  }
}


/* Responsive Design */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100dvh;
  }
}

/* Rotate phone message */

@media (max-width: 480px) {
  .rotate_phone {
    display: flex;
  }
}

/* Playbuttons using */

@media screen and (max-width: 1024px) and (max-height: 1400px) {
  .mobile_btn_container {
    display: flex;
  }
}